@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::view-transition-group(*) {
    animation-duration: 180ms;
    animation-timing-function: ease-in-out;
  }

  h1 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  :root {
    --shiki-foreground: var(--color-gray-200);
    --shiki-background: var(--color-gray-900);
    --shiki-token-constant: var(--color-gray-50);
    --shiki-token-string: var(--color-sky-200);
    --shiki-token-comment: var(--color-gray-400);
    --shiki-token-keyword: var(--color-teal-300);
    --shiki-token-parameter: var(--color-gray-300);
    --shiki-token-function: var(--color-indigo-300);
    --shiki-token-string-expression: var(--color-sky-200);
    --shiki-token-punctuation: var(--color-gray-300);
    --shiki-token-link: var(--color-gray-300);
  }
}

@utility font-old-style {
  font-family:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

@utility font-sans-rounded {
  font-family:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
    "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro,
    sans-serif;
}

@utility font-humanist {
  font-family:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
}
